<div class="container-fuild">
    <div class="row">
        <div class="col-4">
           <div class="dash_main text-center">
            <div class="">
                <img src="./../../../../assets/member3.jpg" alt="">
            </div>
            <div>
                <h2>
                    Brookly Simmons
                </h2>
                <span style="color: rgb(180, 182, 192);">
                    <i class="fa fa-credit-card" aria-hidden="true"></i>   payment method verified,visa
                </span>
            </div>
           </div>
           <div class="mt-5">
               <h6>Location</h6>
               <span>cir.Syracuse,Connecicut</span>
           </div>
           <div class="mt-4">
               <h6>
                   On Web
               </h6>
               <span>Wade Werren </span>
           </div>
           <div class="mt-4">
               <h6>
                   About
               </h6>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe neque eaque maiores hic natus sequi laborum tempore, laboriosam consectetur voluptatum in vitae reprehenderit pariatur suscipit odio ex quis harum modi.
                   Lorem ipsum dolor sit amet c eius, tenetur laboriosam. Quod reprehenderit iste consectetur maxime molestiaeuisquam eos sequi, excepturi iure aliquam aperiam. Repellendus, sint?Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam incidunt ipsa natus reprehenderit quos sunt cumque dignissimos illum modi consequatur, ratione aspernatur laborum, officiis excepturi explicabo corporis quidem eum doloribus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio facilis dolores sunt suscipit nihil officia id quo ratione expedita eligendi reiciendis corrupti, voluptatum, mollitia, amet perspiciatis perferendis enim ut numquam!
               </p>
           </div>
        </div>
        <div class="col-8">
            <h6>
                Company information 
            </h6>
            <p>copyright school</p>
            <span>2018-2020 L.S.MDA,Manangement,4.5</span>
            <p>Activities and Societies: Lorem ipsum sit dollar amet </p>
<h6>About</h6>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit tempora non laudantium explicabo voluptates eius aut odit in quisquam. Inventore est corrupti optio placeat aliquid autem eum earum neque totam! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum in eveniet itaque minima aliquam modi assumenda nostrum ratione tempore, totam libero porro expedita temporibus tempora labore placeat maxime animi repellat.</p>
<h6>More about</h6>       
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo consequuntur dicta consectetur et quasi non, possimus inventore, quos odio aut aliquid illum obcaecati. Rerum voluptate accusantium dolorum, adipisci repudiandae a? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla, tempora voluptatem quasi aspernatur repudiandae nesciunt quis. Natus voluptate, ad blanditiis nam reprehenderit, voluptatibus a corrupti sunt cumque quae commodi soluta? lorem 
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Et recusandae est cupiditate. Nulla architecto hic incidunt illo esse sit libero repudiandae provident aliquid suscipit quibusdam, ipsam dicta dolor, sint nobis.
</p>
</div>
    </div>
</div>
