<div class="container-fuild side_bar">
    <div class="row">
        <div class="col ">
            <div>
                <h2 class="text-center mb-5">
                    KhonText
                </h2>
            </div>
            <br>
         <div class="sidebar">
            <div class="mb-2" >
                <span style="color: rgb(180, 182, 192);"> 
                    <i class="fa fa-tachometer" aria-hidden="true" ></i> <a  class="mx-2" [routerLink]="['/dashboard']"> Dashboard</a> 
                </span>
            </div> <br>
            <div class="mb-2">
                <span style="color: rgb(180, 182, 192);">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>  <a  class="mx-2" [routerLink]="['/job']"> Job</a> 
                </span>
            </div> <br>
            <div class="mb-2">
                <span style="color: rgb(180, 182, 192);">
                    <i class="fa fa-file-o" aria-hidden="true"></i>  <a  class="mx-2" [routerLink]="['/my-contact']">  My-Contact</a> 
                </span>
            </div> <br>
            <div class="mb-2">
                <span style="color: rgb(180, 182, 192);">
                    <i class="fa fa-commenting" aria-hidden="true"></i><a  class="mx-2" [routerLink]="['/messaging']"> Messaging</a> 
                   
                </span>
            </div> <br>
            <div class="mb-2">
                <span style="color: rgb(180, 182, 192);">
                    <i class="fa fa-calendar" aria-hidden="true"></i>  <a  class="mx-2" [routerLink]="['/scheduling']"> Scheduling</a> 
                  
                </span>
            </div> <br>
            <div class="mb-2">
                <span style="color: rgb(180, 182, 192);">
                    <i class="fa fa-credit-card" aria-hidden="true"></i>  <a  class="mx-2" [routerLink]="['/payments']"> Payments</a> 
                </span>
            </div> <br>
            <div>
                <span style="color: rgb(180, 182, 192);">
                    <i class="fa fa-lock" aria-hidden="true"></i><a  class="mx-2" [routerLink]="['/security']"> Security</a>  
                </span>
            </div> <br>
         </div>
        </div>
    </div>
</div>